::-webkit-scrollbar { 
    display: none; 
}
body, a, h1, h2, h3, h4, p {
    font-family: 'Open Sans';
    font-weight:300
}

.input-group-lg > .form-control, .input-group-lg > .input-group-btn > .btn {
    height: 56px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 36px;
}

.input-group-btn:last-child>.btn{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
    
.navbar {
    padding: 5px 0px;
    margin-bottom: 0px;
    background: none;
    border: none;
}

#header-section {
    padding-top: 120px;
    padding-bottom: 240px;
    min-height: 500px;
    position: relative;
    overflow: hidden;
    color: white;
    background: deepskyblue;
}

#start, #end{
    font-size: 30px;
}

.progress{
    border-radius: 0px;
}

#caption{
    margin-top: 20px;   
    font-weight: 100;
}

#response{
    text-align:center;
    margin: 0 auto;
}

#right{
    height: 400px;
    overflow-y: scroll;
}