doctype html
html
		head
				meta(charset='utf-8')
				meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
				title Augur
				meta(name='description', content='Predict the future with fiction')
				meta(name='author', content='Pranav Rajpurkar')
				meta(name='viewport', content='width=device-width initial-scale=1.0 user-scalable=yes')
				link(href='//fonts.googleapis.com/css?family=Open+Sans:100,200,300,400italic,400,600italic,600,700italic,700,800italic,800', rel='stylesheet', type='text/css')
				link(rel='stylesheet', type='text/css', href='/bootstrap/css/bootstrap.min.css')
				link(rel='stylesheet', type='text/css', href='/stylesheets/index.css')
		body(data-spy="scroll" data-target="#sidebar")
				#wrap
						#content.jumbotron
							.container
								.row
										#left.col-md-9
												.row
													h1#title
															| Augur
												.row
													#js-overview
														hi Overview
													p Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
													#js-data-attrs
														h1 js-data
													p	Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
													#modals
														h1 hi
													p	Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
													h1#modals-examples
													p	Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														|modals examples
													#modals-sizes
														h1 modals-sizes
													p	Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
														Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
										#right.col-md-3
												nav#sidebar.bs-docs-sidebar.hidden-print.hidden-xs.hidden-sm
														ul.nav.bs-docs-sidenav(data-spy="affix" data-offset-top="10")
																li
																	a(href='#js-overview') Overview
																	ul.nav
																		li
																			a(href='#js-data-attrs') Data attributes
																li
																	a(href='#modals') Modal
																	ul.nav
																		li
																			a(href='#modals-sizes') Sizes
		script(src='/javascripts/jquery.js')
		script(src='/bootstrap/js/bootstrap.min.js')
		script(src='/javascripts/index.js')
