doctype html
html
		head
				meta(charset='utf-8')
				meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
				title Augur
				meta(name='description', content='Predict the future with fiction')
				meta(name='author', content='Pranav Rajpurkar')
				meta(name='viewport', content='width=device-width initial-scale=1.0 user-scalable=yes')
				link(href='//fonts.googleapis.com/css?family=Open+Sans:100,200,300,400italic,400,600italic,600,700italic,700,800italic,800', rel='stylesheet', type='text/css')
				link(rel='stylesheet', type='text/css', href='/bootstrap/css/bootstrap.min.css')
				link(rel='stylesheet', type='text/css', href='/stylesheets/index.css')
		body(data-spy="scroll" data-target="#sidebar")
				#wrap
						#content.jumbotron
							.container
								.row
										#left.col-md-8
												#title.group
													h1 Augur
													h2 Making context possible
												.group
													#Introduction
														h1 Introduction
														p While the emotional content of daily life plays an important role in human decision-making, computers often can't understand this content. By constructing an index of emotional semantics for everyday activities, Augur enables a broader set of affective interfaces and applications.
														div#Goal
														#API
															h2 API
															p The Augur API is a data store of common patterns of contextual expressions and activities.
														#Applications
															h2 Applications
															p We demo 2 applications that leverage the capabilities of the Augur API. The first is an <strong>Smart-Scene Simulator</strong>. Given a scene of interest, such as a "temple", or a "hospital", Smart-Scene Simulator generates contextually relevant attributes of that scene. Attributes include the people in the scene, the actions they perform, and their interactions. The second application, <strong>ChaChaWrite</strong>, leverages the Augur API to enhance creative-writing tasks. Based on the story that is being formulated, ChaChaWrite provides contextually relevant ideas that contribute to generating the creative influx for writing.
												.group
													#UsingtheAPI
														h1 Using the API
														p We demonstrate a variety of calls that can be made to the API.
														#scene2person
															h2 Scene &#8594; Person
															.space
														#scene2object
															h2 Scene &#8594; Object
															.space
														#person2action
															h2 Person &#8594; Action
															.space
										#right.col-md-4
												nav#sidebar.bs-docs-sidebar.hidden-print.hidden-xs.hidden-sm
														ul.nav.bs-docs-sidenav(data-spy="affix")
																li
																	a(href='#Introduction') Introduction
																	ul.nav
																		li
																			a(href='#API') API
																		li
																			a(href='#Applications') Applications
																li
																	a(href='#UsingtheAPI') Using the API
																	ul.nav
																		li
																			a(href='#scene2person') Scene &#8594; Person
																		li
																			a(href='#scene2person') Scene &#8594; Object
																		li
																			a(href='#person2action') Person &#8594; Action
		script(src='/javascripts/jquery.js')
		script(src='/bootstrap/js/bootstrap.min.js')
		script(src='/javascripts/index.js')
