extends layout

block content
	h1= title
	p Welcome to #{title}
	script(src="/jquery.js")
	script(src="/socket.io/socket.io.js")
	form(id = "wl", name="wordlist", action="/createwordlist", method="post")
		input(type="text", name="words" id = "words")
		input(type="submit", value="submit")
	#response
		| Hi
	script(src="/main.js")